<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>log in page</title>

    <!-- css link  -->
    <link rel="stylesheet" href="css/login.css">


    <!-- bootstrap link -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>


</head>

<body style="background: linear-gradient(rgba(240,240,240,0.2),rgba(0, 0, 0, 0.9)),url(images/lnct-in.jpg);
background-size: cover;
background-position: center; ">
    <div class="container">
      
        <div class="row">
            <form action="/verifylogin" method="post"
                style="background:linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(105, 216, 228, 0.5));">

                <h1 style="color: aliceblue;"> Login </h1>


                <% if(message.length> 0){ %>
                    <div class="alert alert-danger">
                        <%= message %>
                    </div>
                    <% } %>

                        <% if(msg.length> 0){ %>
                            <div class="alert alert-success">
                                <%= msg %>
                            </div>
                            <% } %>


                                <div class="left-container">
                                    <div class="input-box-container">
                                        <div class="input-box">
                                            <input type="email" name="email" placeholder="Your Email">
                                        </div>

                                        <div class="input-box">
                                            <input type="password" name="password" placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="password-setting">
                                        <div class="remember-box">
                                            <input type="checkbox" id="remember">

                                            <label for="remember"> Remember</label> <br>
                                        </div>
                                    </div>
                                    <div class="password-setting2">
                                        <!-- <button type="button" class=" btn btn-outline-dark" data-bs-toggle="modal"
                                data-bs-target="#Forgot">
                                forgot password ?
                            </button> -->
                                        <a href="#" class="forget-password" data-bs-target="#Forgot"
                                            data-bs-toggle="modal">
                                            Forgot Password</a>
                                    </div>


                                </div>

                                <div class="right-container">

                                    <!-- button start -->

                                    <div class="btn-container">
                                        <!-- login button -->
                                        <button type="submit" class=" btn sign-in "> Log In </button>

                                        <!-- registration button -->
                                        <center class="lastline"> Don't have an account?</center>
                                        <button class="sign-up"> <a href="/registration">Register </a> </button>
                                    </div>


                                </div>
            </form>
        </div>
        </div>


        <!--Forgot Password -->
        <div class="modal fade" id="Forgot" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Forget Password</h1>

                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <form action="/forget-password" method="post">
                            <div class="mb-3">
                                <label for="">Email</label>
                                <input type="text" name="email" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <!-- End Btech Modal -->
</body>

</html>